@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
/* hide scrollbar for netflix-style rows */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

